Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@leomatrix 
2,828
86,811 42,966 github/gitignore
 Code  Pull requests 109  Projects 0  Security  Insights
gitignore/C.gitignore
@chaosdefinition chaosdefinition Update C.gitignore
f76d089 on 1 Nov 2016
@rye @dashed @aarian93p @Leandros @snisarg @dybekm @eugpermar @starrify @chaosdefinition @arsenm
53 lines (44 sloc)  430 Bytes
    
# Prerequisites
*.d
.gitignore

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.depend
*.srec
*.bin
*.hex
*.swp
*.lds
*.scr
*.i
.config
*.lds.in

tags
u-boot
u-boot.bin
uImage
zImage
vmlinux
*.lds.S
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Octotree
Try Octotree Pro for free

